@page
@model ASPNETCore_RazorPages.Pages.Modul007.PartialViewSample1Model
@{
}

<p>Anzeige einer PartialView</p>

<p>Wo wird nach einer PartialView gesucht? </p>
<p>/Pages/Modul007/_DateTimePartialView.cshtml</p>
<p>/Pages/_DateTimePartialView.cshtml</p>
<p>/Pages/Shared/_DateTimePartialView.cshtml</p>
<p>/Views/Shared/_DateTimePartialView.cshtml</p>

<partial name="_DateTimePartialView" />

