@page
@model ASPNETCore_RazorPages.Pages.Modul008.ResponseCacheSampleModel
@{
}

<h1>cached</h1>
@*
[ResponseCache(Duration = 10, Location = ResponseCacheLocation.Any, NoStore = false)]
[ResponseCache(VaryByHeader = "User-Agent", Duration = 30)]
*@

<p>Stand: Artikel: 18.04.2022, https://docs.microsoft.com/de-de/aspnet/core/performance/caching/response?view=aspnetcore-6.0#responsecache-attribute </p>
<p>Ist in der Regel nicht vorteilhaft für Benutzeroberflächen-Apps wie Razor Pages, da Browser in der Regel Anforderungsheader festlegen, </p>
<p>die das Zwischenspeichern verhindern. Die Zwischenspeicherung der Ausgabe wird für die nächste Version von ASP.NET Core in Betracht gezogen, </p>
<p>von der Benutzeroberflächen-Apps profitieren.</p>


https://github.com/dotnet/aspnetcore/issues/27387
