@page
@model ASPNETCore_RazorPages.Pages.Modul002.AspPageHandlerSampleModel
@{
}

<form method="post">
    <input name="eins" /> <br />
    <input name="zwei" />

    <hr />
    <button type="submit" asp-page-handler="add">addieren</button>
    <button type="submit" asp-page-handler="sub">subtrahiere</button>
    @Model.Ergebnis
</form>

