@page
@model ASPNETCore_RazorPages.Pages.Modul002.PostSampleModel

<form method="post">
    <input name="eins" /> <br />
    <input name="zwei" />

    <hr />
    <button type="submit">addieren</button>
    @Model.Ergebnis
</form>
