@page "{year}/{month}/{day}/{title}"
@model ASPNETCore_RazorPages.Pages.Modul009.FriendlyRouteSampleModel
@{
}

<p>Willkommen auf der Friedly Route Sample Page</p>

<p>URL des Aufrufes -> https://localhost:44363/Post/2021/7/13/ChessOpenings</p>
