@page
@model ASPNETCore_RazorPages.Pages.Modul009.RouteAttributeSampleModel
@{
}


<p>Leiten in der OnGet - Methode mithilfe von RadirectToPage auf ie Seite ->  RouteAttributesDestinationSample weiter</p>