@page
@model ASPNETCore_RazorPages.Pages.Modul009.RouteAttributeSample2Model
@{
}

<p>Leiten in der OnGet - Methode mithilfe von RadirectToPage auf ie Seite ->  RouteAttributesDestinationSample weiter</p>
